CheckOptions:
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.TemplateParameterCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: aNy_CasE
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.ClassMemberCase
    value: lower_case
  - key: readability-identifier-naming.ClassMemberSuffix
    value: _
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: _
  - key: readability-identifier-naming.ProtectedMemberSuffix
    value: _
  - key: readability-identifier-naming.EnumConstantCase
    value: CamelCase
  - key: readability-identifier-naming.EnumConstantPrefix
    value: k
  - key: readability-identifier-naming.ConstexprVariableCase
    value: CamelCase
  - key: readability-identifier-naming.ConstexprVariablePrefix
    value: k
  - key: readability-identifier-naming.GlobalConstantCase
    value: CamelCase
  - key: readability-identifier-naming.GlobalConstantPrefix
    value: k
  - key: readability-identifier-naming.MemberConstantCase
    value: CamelCase
  - key: readability-identifier-naming.MemberConstantPrefix
    value: k
  - key: readability-identifier-naming.StaticConstantCase
    value: CamelCase
  - key: readability-identifier-naming.StaticConstantPrefix
    value: k
  - key: readability-implicit-bool-conversion.AllowIntegerConditions
    value: 1
  - key: readability-implicit-bool-conversion.AllowPointerConditions
    value: 1
  - key: readability-magic-numbers.IgnoredIntegerValues
    value: 1;2;3;4;5;6;10;20;40;50;90;100;180;360;500;540;720;1000
  - key: readability-magic-numbers.IgnoredFloatingPointValues
    value: 0.25;0.5;0.75;1.25;1.0;2.0;3.0;4.0;5.0;6.0;10.0;20.0;40.0;50.0;100.0;500.0;1000.0
  - key: readability-magic-numbers.IgnoreTypeAliases
    value: 1
  - key: misc-unused-parameters.IgnoreVirtual
    value: 1

Checks: >
  -*,
  bugprone-*,
  misc-*,
  modernize-*,
  google-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-unchecked-optional-access,
  -google-runtime-references,
  -misc-const-correctness,
  -misc-no-recursion,
  -misc-non-private-member-variables-in-classes,
  -modernize-avoid-c-arrays,
  -modernize-use-trailing-return-type,
  -readability-convert-member-functions-to-static,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-use-anyofallof

# Justifications
# --------------
# * - bugprone-easily-swappable-parameters
#   - Too many false positives
# * - bugprone-unchecked-optional-access,
#   - Too many false positives. Does not diagnose access to optional members of
#     pointee classes through operator-> properly
# * - google-runtime-references
#   - No consensus on this style guideline inside Google
# * - misc-const-correctness
#   - Causes extreme slowdown on large files
# * - misc-no-recursion
#   - Recursion IS permitted
# * - misc-non-private-member-variables-in-classes
#   - "Data Classes" are permitted and signalled by declaration as a struct
# * - modernize-avoid-c-arrays
#   - Size deduction of C arrays is useful. This rule can be superseded once to_array
#     from C++20 enters use
# * - modernize-use-trailing-return-type
#     No consensus on this style guideline in the C++ community
# * - readability-convert-member-functions-to-static
#   - Breaks uniformity of overload sets in which only some functions depend on a class
#     instance
# * - readability-function-cognitive-complexity
#   - Too many false positives. This is always triggered by GTest's ASSERT_\w+ macros
# * - readability-identifier-length
#   - Unusual style guideline
# * - readability-use-anyofallof
#   - Iterator-pair syntax harms readability. This rule can be superseded once
#     ranges::(any|all)_of from C++20 enters use.

HeaderFilterRegex: ^${sourceDir}/include.*\.hpp$
WarningsAsErrors: "*"
