<?xml version="1.0"?>
<launch>
  <!-- Tracking Control Node -->
  <arg name="launch_prefix" default=""/>
  <arg name="uav_prefix" default=""/>

  <!-- No default param file. Users must consciously load the correct params -->
  <arg name="builtin_param_file"/>
  <arg name="param_file" default="$(find fsc_autopilot_ros)/params/$(arg builtin_param_file)"/>
  <node pkg="fsc_autopilot_ros" type="autopilot_node" name="fsc_autopilot_ros" output="screen" launch-prefix="$(arg launch_prefix)">
    <rosparam command="load" file="$(arg param_file)" />
    <param name="uav_prefix" value="$(arg uav_prefix)" />
  </node>
</launch>
